@import '../../assets/styles/main'

.signin__wrap
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width 400px
  min-height: 250px
  background: linear-gradient(-120deg, $red 30%, $orange)
  border-radius: 5px
  padding: 25px
  margin 50px auto

.signin__title
  Font(medium)
  font-size 30px
  color $white
  text-transform uppercase
  margin-bottom 25px

.warning
  width 100%
  color: $white
  text-align: center

.agreement__label
  margin-bottom 25px
  cursor: pointer
  span 
    color: $white

.agreement__checkbox
  margin-right 5px
  cursor: pointer