@import '../../assets/styles/main'

.section__container
  margin-bottom 50px

.section__title
  margin-bottom 50px

.content
  font-size 14px
  color: $txt
  margin-bottom 25px
  line-height 30px
  letter-spacing 1.5px

.go__home
  font-size 16px
  display flex
  align-items: center
  margin-bottom 50px
  color $txt
  a
    Font(medium)
    font-size 18px
    color $orange
    margin-left 10px
    text-decoration underline
    &:hover
      color: $red