//variables
$white = #fff
$orange = #ff2830
$orange-light = #fe510d
$red = #FF2830
$black = #000
$txt = #3b3d46
$bg = #f3f3f3

// layout

@import "common/_fonts"
@import "common/_mixins"
@import "common/_media"
@import "common/_greating"