//variables
$white = #fff
$orange = #FE510D
$orange-light = #fe510d
$red = #FF2830
$black = #000
$txt = #3b3d46
$bg = #f3f3f3

// layout

@import "common/_fonts"
@import "common/_mixins"
@import "common/_media"
@import "common/_greating"

.input
  font-size 14px
  width: 360px
  height: 30px
  background-color $white
  border 1px solid transparent
  border-radius: 5px
  padding-left: 15px
  margin-bottom: 25px

.btn
  Font(medium)
  font-size 18px
  padding: 5px 25px
  border: none
  border-radius: 5px
  background-color $white
  color: $red
  text-transform uppercase
  cursor: pointer
  &:hover
    color: $white
    background-color $black