@import '../../assets/styles/main'

.section__title
  margin-bottom 50px

.partners__wrap
  display flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom 150px

.partners__content
  display flex
  align-items: center
  flex-direction: column
  text-align: center
  width 70%

.partners__title
  Font(medium)
  font-size 36px
  color: $red

.partners__descr
  Font(light)
  font-size 14px
  color: $txt

.partners__pic_wrap
  width 25%
  border-radius: 5px
  overflow: hidden
  img 
    width 100%