@import '../../assets/styles/main'

.section__title
  margin-bottom 50px

.faq__list
  display flex
  flex-direction: column
  width 100%
  margin-bottom 100px

.faq__item
  display flex
  align-items: flex-start
  justify-content: flex-start
  flex-direction: column
  width 100%
  margin-bottom 25px
  padding-bottom 25px
  border-bottom 1px solid rgba($disable-txt, .3)
  &:last-child
    border-bottom: none
  &.active
    .answer
      position relative
      opacity 1
      left: 0

.faq__link
  display: flex
  align-items: center
  position: relative
  height: 60px
  width 100%
  color: $red

.question
  Font(medium)
  font-size 25px
  color: $red

.answer
  Font(light)
  position: absolute
  font-size 16px
  color: $txt
  letter-spacing 1.65px
  line-height 25px
  left: -9999px
  opacity 0
  transition(.3s opacity)
  